In [90]:
import pandas as pd
from datetime import datetime

### Importing dataset into Jupyter environment

In [91]:
df = pd.read_csv(r"C:\Users\Luchiana\OneDrive - ONE NEW EXPERIENCE\Desktop\Audible_dataset.csv")

### Take a look at the dataset and also check if it was successfully imported

In [92]:
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04/08/2008,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01/05/2018,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06/11/2020,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05/10/2021,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02/05/2017,English,5 out of 5 stars50 ratings,820
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,02/05/2017,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820

## Start performing data cleaning process
##### 1. Identify duplicates
df.duplicated().sum()
##### 2. Identify null values
df.isna().sum()
##### 3. Describe the dataset to see the number of rows we're dealing with, number of unique values
df.describe()
##### 4. Get info about the dataset, such as columns name, data type and null friendly columns
df.info()

In [93]:
df.duplicated().sum()

0

In [94]:
df.isna().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [95]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586
freq,20,874,1034,372,773,61884,72417,5533

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

######  Convert 'releasedate' column from object to datetime and capitalize all values in 'language' column

In [97]:
df['releasedate']=pd.to_datetime(df['releasedate'])
df['language']=df['language'].str.capitalize()

##### Replace 'Writtenby:' and 'Narratedby:' in specific columns through a function

In [98]:
def replace_value(value):
    if 'Writtenby:' in value:
        return value.replace('Writtenby:','')
    elif 'Narratedby:' in value:
        return value.replace('Narratedby:', '')
    else:
        return value
    
df['author']= df['author'].apply(replace_value)
df['narrator']=df['narrator'].apply(replace_value)

##### Created a function to insert a space before every capitalized word

In [99]:
def insert_space_before_upper(s):
    result=''
    
    for i in s:
        if i.isupper():
            result = result + " " + i
        else:
            result = result + i
    return result


df['author'] = df['author'].apply(insert_space_before_upper)
df['narrator']=df['narrator'].apply(insert_space_before_upper)

In [100]:
df.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820

##### Leave only the useful values from 'stars' and 'rating' columns (for example: 5 from '5 out of 5 stars', and 34 from '34 ratings')

In [104]:
df['rating'] = df['stars'].str.extract(r'(\d+ ratings)')
df['stars'] =df['stars'].str.extract(r'(\d+)')

In [106]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,rating
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,2008-04-08,English,5,468,NaN
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,2018-01-05,English,4,820,NaN
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,2020-06-11,English,4,410,NaN
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,2021-05-10,English,4,615,NaN
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,2010-01-13,English,4,820,NaN

##### Replace NULL values discovered after extraction

In [107]:
df['stars'] = df['stars'].fillna(0)
df['rating'] = df['rating'].fillna(0)

df['rating'] = df['rating'].astype('int')
df['stars'] = df['stars'].astype('int')

In [108]:
df.tail()

,name,author,narrator,time,releasedate,language,stars,price,rating
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,2017-09-03,English,0,596,0
87485,The Alps,Stephen O' Shea,Robert Fass,10 hrs and 7 mins,2017-02-21,English,0,820,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,2016-12-30,English,0,938,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,2011-02-23,English,0,680,0
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,2017-07-03,English,0,569,0

##### Extract duration in minutes for each record into a new column named 'duration_minutes'

In [109]:
hours = df['time'].str.extract(r'(\d+)').astype('int')
mins= df['time'].str.extract(r'(\d+ mins)').replace('mins','', regex=True)
mins = mins.fillna(0).astype('int')

duration = (hours*60) + mins
df['duration_minutes'] = duration

In [80]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,rating,duration_minutes
0,Geronimo Stilton #11 & #12,Writtenby: Geronimo Stilton,Narratedby: Bill Lobely,2 hrs and 20 mins,04/08/2008,English,5,468,34,140
1,The Burning Maze,Writtenby: Rick Riordan,Narratedby: Robbie Daymond,13 hrs and 8 mins,01/05/2018,English,4,820,41,788
2,The Deep End,Writtenby: Jeff Kinney,Narratedby: Dan Russell,2 hrs and 3 mins,06/11/2020,English,4,410,38,123
3,Daughter of the Deep,Writtenby: Rick Riordan,Narratedby: Soneela Nankani,11 hrs and 16 mins,05/10/2021,English,4,615,12,676
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby: Rick Riordan,Narratedby: Jesse Bernstein,10 hrs,13-01-10,English,4,820,181,600

##### Add a new column for IDs and rename columns

In [110]:
df['id'] = range(1, len(df) + 1)
df = df.rename(columns={"id":"ID","name":"Title","author":"Author","narrator":"Narrator","time":"Duration","releasedate":"Release_Date","language":"Language","stars":"Stars","rating":"Rating","duration_minutes":"Duration_minutes","price":"Price"})

##### Reorder the columns

In [111]:
df = df[['ID', 'Title', 'Author','Narrator','Release_Date','Duration','Duration_minutes','Language','Stars','Rating','Price']]

In [112]:
df.head()

,ID,Title,Author,Narrator,Release_Date,Duration,Duration_minutes,Language,Stars,Rating,Price
0,1,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-04-08,2 hrs and 20 mins,140,English,5,0,468
1,2,The Burning Maze,Rick Riordan,Robbie Daymond,2018-01-05,13 hrs and 8 mins,788,English,4,0,820
2,3,The Deep End,Jeff Kinney,Dan Russell,2020-06-11,2 hrs and 3 mins,123,English,4,0,410
3,4,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-05-10,11 hrs and 16 mins,676,English,4,0,615
4,5,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,10 hrs,600,English,4,0,820

#### Export the final dataset in parquet file format

In [116]:
df.to_parquet(r'C:\Users\Luchiana\OneDrive - ONE NEW EXPERIENCE\Desktop\Audible_parquet.parquet', engine='pyarrow')